@page
@model WebsiteApplication.Pages.LoginOptions.SportTypesModel
@{
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />

	<form method="post">
		@foreach (var sportType in Model.SportTypes)
		{
			<button type="submit" name="sportType" asp-route-id="sportType" value="@sportType" asp-route-AccountId="@Model.AccountID">@Html.DisplayFor(type=>sportType)</button>
		}
	</form>
}
